@font-face {
	font-family: "SF";
	src: url("../public/fonts/SFProText-Regular.ttf");
}
@font-face {
	font-family: "SF-M";
	src: url("../public/fonts/SFProText-Medium.ttf");
}
@font-face {
	font-family: "SF-H";
	src: url("../public/fonts/SFProText-Heavy.ttf");
}
@font-face {
	font-family: "SF-B";
	src: url("../public/fonts/SFProText-Bold.ttf");
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	background: linear-gradient(180deg, #0d1017 0%, #141924 100%);
}
body {
	font-size: 20px;
	font-family: SF;
	font-weight: 400;
	color: #fff;
	display: flex;
	flex-direction: column;
}
body.hold {
	overflow: hidden;
}

main {
	min-height: 100vh;
	flex: 1;
}
ul,
ol {
	list-style: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
	scroll-behavior: smooth;
}
